@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #050505;
    color: #ffffff;
}

@layer components {
    .btn-primary {
        @apply bg-brand-red text-white px-6 py-2 rounded font-semibold hover:bg-red-600 transition-colors duration-300 uppercase text-sm tracking-wider;
    }

    .section-padding {
        @apply px-6 md:px-12 lg:px-24 py-16 md:py-24;
    }
}